{% extends 'base.html' %}

<!--Title for Cart-->
{% block title %}My Cart{% endblock %}

<!--Content for cart.html-->

{% block content %}

<section>

    <!--Breadcrumb links-->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'all_menu_items' %}">Menu Items</a></li>
            <li class="breadcrumb-item active" aria-current="page">Shopping cart</li>
        </ol>
    </nav>

    <!--To show the cart item names, price and quantity also allows the user to change the quantity-->
    <div class="container-fluid row">

        {% for item in cart_items %}

        <div class="card col-xl-2 col-md-3 m-4">

            <img src="{{ MEDIA_URL }}{{item.item.image}}" class="card-img-top" alt="{{item.item.name}}">
            <div class="card-body">
                <h5>{{ item.item.name }}</h5>
                <p>$ {{ item.item.price }}</p>

                <form method="POST" action="{% url 'adjust_cart' item.id %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <p>Quantity in cart: {{ item.quantity }}</p>
                        <div class="input-group">
                            <input name="quantity" type="number" min="0" max="99" class="form-control" placeholder="Change quantity">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Change Quantity</button>
                </form>
            </div>
        </div>
{% endfor %}
    </div>
    

    <!--To show the total cost of the cart and link for the user to check out-->
    <div class="container-fluid text-center">
        <hr />
        <p>Total: SGD $ {{ total }}</p>
        <p></p>

        <a href="{% url 'checkout' %}" class="btn btn-success" role="button">Checkout</a>

    </div>

</section>

{% endblock %}
