{% extends 'base.html' %} 

{% load crispy_forms_tags %}

<!--Block title for submitting a recipe-->
{% block title %}Edit Recipe: {{ recipe.name }} {% endblock %}

<!--Content for submit-recipe.html-->
{% block content %}
<section>

<!--Breadcrumb links-->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'recipe_list' %}">Suggested Recipes</a></li>
        <li class="breadcrumb-item"><a href="#">{{ recipe.name }}</a></li>
    </ol>
</nav>

<!--Edit recipe form-->
<div class="recipe-form col-md-12">
    <h3>Edit Recipe: {{ recipe.name }}</h3>
    <hr />
    <form method="POST" enctype="multipart/form-data">
        <div class="form-group">
            {% csrf_token %} {{ form | crispy }}
            <hr />
            <input type="submit" />
        </div>
    </form>
</div>

</section>

{% endblock %}
