{% extends 'base.html' %}

<!--Block title the recipe list-->
{% block title %}Submit a recipe{% endblock %}

<!--Content for recipe-list.html-->
{% block content %}

<!--Section to show the submitted recipes-->
<div class="container-fluid row">
    {% for recipe in recipe_list %}
        
        <div class="col-xl-4">
            
            <!--Recipe items-->
            <div class="item-image" style="background-image: url('{{ MEDIA_URL }}{{recipe.image}}')">
            
            <h3>{{ recipe.name }}</h3> 
            <p class="item-description">Submitted by: {{ recipe.user }}</p>
            <p class="item-description">Times viewed: {{ recipe.views }}</p>
            <p class="item-description">Number of votes: {{ recipe.vote }}</p>
            <p class="item-description">Submitted on: {{ recipe.created_date }}</p>
            <a class="btn btn-primary" href="{% url 'recipe_details' recipe.id %}" role="button">Recipe Detail</a>
            </div>
                        
        </div>
    
    {% endfor %}
    
    
    
</div>

{% endblock %}