{% extends 'base.html' %}

<!--Block title the recipe list-->
{% block title %}Submit a recipe{% endblock %}

<!--Content for recipe-list.html-->
{% block content %}

{{ form.media }}

<section>
    <!--Breadcrumb links-->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Suggested Recipes</a></li>
        </ol>
    </nav>

    <!--Search field to be shown if authenticated-->
    <div class="container-fluid">
        <div class="float-right">
            <form action="{% url 'do_recipe_search' %}" method="GET">
                <input type="text" , name="query" , placeholder="Search recipe items">
                <button type="submit">Search</button>
            </form>
        </div>
    </div>
    <br />

    <div class='m-4'>
        <h3>User suggested recipes</h3>
    </div>
    <hr />

    <!--Section to show the submitted recipes-->
    <div class="container-fluid row mx-auto">

        {% for recipe in recipe_list %}
        <div class="card col-xl-2 col-md-3 m-4">
            <br />

            <!--If there are no recipe images, show the iamge not available instead-->

            {% if recipe.image %}
            <img src="{{recipe.image.cdn_url}}" class="card-img-top" alt="{{recipe.name}}"> 
            {% else %}
            <img src="/media/img/not-found/no-image-available.svg" class="card-img-top" alt="{{recipe.name}}" alt="No Image Here">
            {% endif %}
            <br />

                <!--User Submitted Recipes-->
                <div class="card-body">
                    <p="card-title">{{ recipe.name }}</p>
                        <hr />
                        <p>Times viewed: {{ recipe.views }}</p>
                        <p>Number of votes: {{ recipe.votes }}</p>
                        <a class="btn btn-primary" href="{% url 'recipe_details' recipe.id %}" role="button">Recipe Details</a>
                </div>
        </div>

        {% endfor %}

    </div>
</section>

{% endblock %}
