{% extends 'base.html' %}

<!--Block title the recipe list-->
{% block title %}{{ recipe.name }}{% endblock %}

<!--Content for recipe-list.html-->
{% block content %}

<!--Test for recipe name-->
{{ recipe.name }}
{{ recipe.views }}

{% for recipe in recipe_review %}
{{recipe.name}}
{{recipe.comment}}

<br />
{% endfor %}

<a class="btn btn-primary" href="{% url 'upvote_recipe' recipe.id %}" role="button"><i class="fas fa-vote-yea"></i> Upvote</a>
<!--<a href="{% url 'upvote_recipe' recipe.id %}">Upvote</a>-->

<p>Recipe votes: {{ recipe.votes }}</p>
<a class="btn btn-primary" href="{% url 'submit_review' recipe.id %}" role="button">Comment on the recipe</a>

{% endblock %}