{% extends 'base.html' %}

{% load crispy_forms_tags %}

<!--Block title for submitting a recipe-->
{% block title %}Suggest a recipe{% endblock %}

<!--Content for submit-recipe.html-->
{% block content %}

<div class="recipe-form col-md-12">
    <h3>Suggest a Recipe</h3>
    <hr />
    <form method = "POST" enctype="multipart/form-data">
        <div class="form-group">
            <!--<table class="table">-->
                {% csrf_token %}
                {{ form | crispy }}
                <!--{{ form.as_table }}-->
            <!--</table>-->
            <hr />
            <input type="submit" />
        </div>
    </form>
</div>

{% endblock %}