{% extends 'base.html' %} 

<!--Title for Profile page-->
{% block title %}Profile: {{request.user.username}}{% endblock %}

<!--Content for Profile page-->
{% block content %}

<div class="row mx-auto m-3 p-3">
<div>
    
<h2>Profile: {{request.user.username}}</h2>

<hr />

<p>Username: {{profile.username}}</p>

<p>First name: {{profile.first_name}}</p> 

<p>Last name: {{profile.last_name}}</p>

<p>Email: {{profile.email}}</p>

<p>Last logged in: {{profile.last_login}}</p>

<p>Date Joined: {{profile.date_joined}}</p>

</div>

<br />

</div>

{% endblock %}