{% extends 'base.html' %}

{% load crispy_forms_tags %}

<!--Block title for register-->
{% block title %}Register{% endblock %}

<!--Content for register.html-->
{% block content %}

<div class="account-form mx-auto row">
    <div>
    <h2>User Registration</h2>
    <form method='POST'>
        <div class="form-group">
                {% csrf_token %}
                {{ form | crispy }}
            <hr />
            <input type="submit" />
        </div>
    </form>
    <p>If you already have an account, you can log in <a href="{% url 'login' %}">here</a></p>
</div>
</div>

{% endblock %}
