{% extends 'base.html' %}

<!--Title for menu item details-->
{% block title %}{{ menu_item_detail.name }}{% endblock %}

<!--Content for menu items-->
{% block content %}
<section>
    <!--Breadcrumb links-->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'all_menu_items' %}">Menu Items</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ menu_item_detail.name }}</li>
        </ol>
    </nav>
</section>

<section>
    <!--Details on the menu item selected-->
    <div class="container fluid row mx-auto">
        <div class="col-xl-6">
            <div class="item-image" style="background-image: url('{{ MEDIA_URL }}{{menu_item_detail.image}}"></div>
            <h3 class="text-center">{{ menu_item_detail.name }}</h3>
            <hr />
            <p class="item-description">{{ menu_item_detail.description }}</p>
            <hr />
            <p>Price: $ {{ menu_item_detail.price }}</p>
        </div>

        <div class="col-xl-6">
            <div>
                <br />
                <br />
                <!--Form to add to cart-->
                <form method="POST" , action="{% url 'add_to_cart' menu_item_detail.id %}">
                    {% csrf_token %}
                    <div>
                        <div>
                            <h5>Order Quantity: </h5>
                        </div>
                        <br />
                        <input name="quantity" type="number" min="1" max="99" class="form-control" placeholder="Order Quantity">
                        <br />
                        <span class="input-group-btn">
                        <button class="btn btn-success" type="submit">Add</button>
                    </span>
                    </div>
            </div>
            </form>
        </div>
    </div>
</section>

{% endblock %}
