{% extends 'base.html' %}

<!--Title for menu items-->
{% block title %}Menu Items{% endblock %}

<!--Content for menu items-->
{% block content %}

{{ form.media }}

<section>

    <!--Breadcrumb links-->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Menu items</a></li>
        </ol>
    </nav>

    <!--Search field to be shown if authenticated-->
    <div class="container-fluid">
        <div class="float-right">
            <form action="{% url 'do_menu_search' %}" method="GET">
                <input type="text" , name="query" , placeholder="Search menu items">
                <button type="submit">Search</button>
            </form>
        </div>
    </div>
    <br />

    <!--Dropdown list for menu items-->
    <div class="dropdown m-4">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Select Menu Type
  </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="{% url 'all_menu_items' %}">All Dishes</a>
            <a class="dropdown-item" href="{% url 'menu_type' 'Breakfast' %}">Breakfast</a>
            <a class="dropdown-item" href="{% url 'menu_type' 'Lunch' %}">Lunch</a>
            <a class="dropdown-item" href="{% url 'menu_type' 'Dinner' %}">Dinner</a>
        </div>
    </div>

    <div class='m-4'>
        <h1>Menu items</h1>
    </div>
    <hr />

    <div class="container-fluid row mx-auto">
        <!--To show the menu items obtained-->
        {% for item in all_menu_items %}
        <div class="card col-xl-2 col-md-3 m-4">
            <a href="{% url 'menu_item_detail' item.id %}">
                <br />
                <img src="{{item.image.cdn_url}}" class="card-img-top" alt="{{item.name}}">
                <div class="card-body">
                    <p="card-title">{{ item.name }}</p>
                </div>
            </a>
        </div>
        {% endfor %}

    </div>

    </div>
</section>

{% endblock %}
