{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>

    <!--Roboto Font-->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--Custom CSS-->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}" type="text/css" />
    <!--FontAwesome-->
    <script src="https://kit.fontawesome.com/af4d281973.js"></script>
    <!--JQuery-->
    <script type="text/javascript" src="{% static 'js/jquery-3.4.1.js' %}"></script>

    {% block head_js %}{% endblock %}
    
</head>

<body>

    <!--Navbar and search field-->
    <section>
        <!--Navbar-->
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="{% url 'index' %}"><img src="/media/img/logo/logo.png" alt="Hawk-a-Delight logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <!--Links to show if user is not authenticated-->
                    {% if not user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'password_reset' %}">Forgot your password</a>
                    </li>
                    {% endif %}
                    <!--Links to show only if user is authenticated-->
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'all_menu_items' %}"><i class="fas fa-utensils"></i> Menu</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-file"></i> Suggest a dish</a>
                    </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{% url 'submit_recipe' %}">Submit a recipe</a>
                            <a class="dropdown-item" href="{% url 'recipe_list' %}">List of submitted recipes</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'view_cart' %}">
                        <i class="fa fa-shopping-cart"></i> Cart
                        <!--To show the total cost of items currently in the cart-->
                        {% if item_count > 0 %}
                        <label class="badge badge-warning">$ {{ total }}</label>
                        {% endif %}
                    </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-user"></i> {{request.user.username}} 
                    </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
                            <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                        </div>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        
        <!--Session messages-->
        <section>
            <!--To show the message if user successfully registered, recipe was successful, etc-->
            {% if messages %}
            <div class="bg-warning m-3 p-3">
                {% for message in messages %} {{ message }} {% endfor %}
            </div>
            {% endif %}
        </section>

    </section>

    <!--Page Content-->
    {% block content %} {% endblock %}

    <footer>
        <!--Contact information-->
        <div class="container-fluid mt-3">
            <div class="row">
                <div class="col-md-4 mx-auto my-auto contact-info">
                    <div class="add-icon"><i class="fas fa-map-marked"></i></div>
                    <div>
                        <p>Address</p>
                        <p>111 North Bridge Road</p>
                        <p>Singapore 179098</p>
                    </div>
                </div>
                <div class="col-md-4 mx-auto my-auto contact-info">
                    <div class="add-icon"><i class="fas fa-envelope"></i></div>
                    <div>
                        <p>Email</p>
                        <p>info@hawkadelight.com</p>
                    </div>
                </div>
                <div class="col-md-4 mx-auto my-auto contact-info">
                    <div class="add-icon"><i class="fas fa-clock"></i></div>
                    <div>
                        <p>Opening Hours</p>
                        <p>Tue - Sun 9:00am - 11.00pm</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>
